body {
    font-family: $font-raleway;
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 400;
    color: $c-white;
    text-rendering: optimizeLegibility;
    position: relative;
};

.h4 {
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.2rem;
}

.h3 { 
    font-size: 1.5rem; 

    &--gray {
        color: rgba($c-white, .5);
    }
}

.h2 {
    font-size: 2rem;
    font-weight: 700;
}