.header {
    display: grid;
    grid-template-columns: 1fr repeat(2, max-content);
    align-items: center;

    padding-right: $spacer-p-sm / 2;
    background-color: $c-gray;
    height: 50px;

    border-bottom: solid 1px rgba($c-white, .1);

    @include breakpoint(desktop) {
        grid-template-columns: repeat(2, max-content) 1fr repeat(2, max-content);

        padding: 0 $spacer-p-sm / 2;
        height: 60px;
    }
    
    &__logo {
        display: flex;
    
        @include breakpoint(desktop) {
            margin-left: 20px;
        }

        img {
            width: 85px;

            @include breakpoint(desktop) {
                width: 104px;
            }
        }
    }

    &__burger-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 22px;
        width: 28px;
        z-index: 4;

        transition: $transition;

        cursor: pointer;

        @include breakpoint(desktop) {
            order: -1;
        }

        &.crossed {
            @include iconBg;
        
            position: relative;
        
            span {
                position: absolute;
                width: 14px;
                top: 11.5px;
                left: 5px;
        
                @include breakpoint(desktop) {
                    width: 16px;
                    top: 14.5px;
                    left: 7px;
                }
        
                &:nth-child(1) {
                    transform: rotate(45deg);
                }
        
                &:nth-child(2) {
                    display: none;
                }
        
                &:nth-child(3) {
                    transform: rotate(-45deg);
                }
            }
        }

        span {
            display: block;

            background-color: $c-white;
            width: 100%;
            height: 2px;

            transition: $transition;
        }
    }

    &__label {
        margin-right: $spacer-p-xs;

        @include breakpoint(desktop) {
            display: none;
        }
    }
    

    &__link-box {
        display: none;
        position: relative;

        @include breakpoint(desktop) {
            display: flex;
            align-items: center;

            justify-self: end;
            transform: translateY(3px);
        }

        &::after {
            content: '';
            right: 0;
            height: 40px;
            position: absolute;
            background-color: solid 1px rgba($c-white, .1);
        }

        li {
            &:nth-child(1) {
                img {
                    width: 88px;
                }
            }

            &:nth-child(2) {
                img {
                    width: 148px;
                }
            }
        }
    }
}

