.menu {
    display: grid;

    position: absolute;
    left: 0;
    top: 0;

    background-color: $c-gray;
    padding-top: 12px;
    height: 100%;
    width: 100%;

    z-index: 3;

    opacity: 0;
    visibility: hidden;

    transition: $transition;

    &__header {
        @include flex(space-between, center);
    }

    &__logo {
        @include flex(center);

        margin-top: $spacer-p-xs;

        img { height: 140px; }
    }

    &__dropdown-box {
        display: flex;
        grid-column-gap: 8px;

        & > * { flex: 1; }
    }

    &__languages {
        margin-right: 50px;
    }

    &__list {
        display: grid;
        grid-row-gap: $spacer-p-sm;

        margin: $spacer-p-md 0 $spacer-p-lg 0;
    }


    &__link {
        font-size: 24px;
        line-height: 28px;
        text-decoration: none;
    
        &--red { color: $c-red; }

        &--yellow { color: $c-yellow; }
    }

    &__footer {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-column-gap: 8px;
        grid-row-gap: $spacer-p-sm;

        position: relative;

        background-color: $c-gray-light;
        margin: 0 -16px;
        padding: $spacer-p-sm;

        align-self: end;
    }

    &__footer-preview {
        display: grid;
        justify-items: end;

        img {
            display: block;

            max-width: 100%;
            max-height: 280px;
        }
    }

    &__footer-btn {
        img {
            display: block;

            max-width: 160px;
            width: 100%;
        }
    }
    
    &__footer-btn {
        grid-column: 1 / 2;
    }

    &__footer-preview {
        position: absolute;
        bottom: 0;
        right: $spacer-p-xs;
        width: 43%;
    }
}

.opened {
    opacity: 1;
    visibility: visible;
}