@mixin flex($justify: unset, $align: unset) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin select-reset {
    background-color: transparent;
    text-transform: uppercase;
    color: $c-white;
    outline: 0;
}

@mixin iconBg {
    height: $spacer-p-sm;
    width: $spacer-p-sm;

    border-radius: 50%;
    background-color: lighten($c-gray, 15%);
}