@mixin flex($justify: unset, $align: unset) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin select-reset {
    background-color: transparent;
    text-transform: uppercase;
    color: $c-white;
    outline: 0;
}

@mixin iconBg {
    height: $spacer-p-sm;
    width: $spacer-p-sm;

    border-radius: 50%;
    background-color: lighten($c-gray, 15%);

    transition: $transition;

    @include breakpoint(desktop) {
        height: 30px;
        width: 30px;
    }
}

@mixin breakpoint($breakpoint) {
    @if $breakpoint == desktop {
        @media only screen and (min-width: 64em) { @content };    // 1024
    }
}