// COLORS
$c-white: #fff;
$c-black: #000;
$c-gray: #221f1f;
$c-red: red;

//FONT
$font-raleway: 'Raleway', sans-serif;

//TRANSITION
$transition: all .5s;

// SPACES
$spacer-p-xs: 16px;
$spacer-p-sm: 24px;
